* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
}

body {
    
}


.main-body {
    display: flex;
    height: 900px;
    line-height: 50px;

}

.sidebar {
    background-color: black;
    padding: 10px;
    padding-right: 20px;
    color: white;
}

.header-sidebar {
    padding: 20px 10px 10px 10px;
}

.header-sidebar a h1 {
    font-size: 22px;
    font-weight: 700;
}

.menu-sidebar {
    padding-top: 10px;
}
.menu-sidebar ul li{
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.sidebar-item {
    border-top: solid 1px white;
    border-bottom: solid 1px white;
}

.main {
    width: 1300px;
}

.navigation {
    background-color: dimgray;
    display: flex;
    margin: 0;
    padding: 5px;
    justify-content: flex-end;

}

.navigation a {
    margin: 9px 30px;
    margin-top: 10px;
}


.navigation form {
    margin-top: 5px;
}

.main-container  {
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 15px;
}

.main-container h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50%;
}

thead {
    font-size: 17px;
}

tbody p {
    font-weight: 400;
    font-size: 17px;
}

table, td, th{
    border: solid 1px black;
}

.btn-add-del button {
    border: none;
    background-color: white;
    font-size: 17px;
    font-weight: 600;
    color: red;
}

.btn-admin button {
    width: 20%;
  background-color: #000000;
  color: aliceblue;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  line-height: calc(18/14);
  text-decoration: none;
}

.btn-admin {
    display: flex;
    flex-direction: row-reverse;
    padding: 15px;
}