* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
}

h1{
  font-size: 30px;
  margin: 30px;
  text-transform: uppercase;
  margin-left: 45%;
  text-align: center;
}


h3 {
  line-height: 30px;
}
li {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
}

.header-main-right {
  display: flex;
  margin-top: 1rem;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

.header-main-right > li {
  padding: 0 12px;
  text-transform: uppercase;
}

ion-icon {
font-size:2rem;
color: #fff;
margin-top: 2px;
margin-left: -2px;
margin-right: -2px;
}

.logo {
  weight: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
}

.header-main-left img {
  weight: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
}

.input-search {
  border:none;
  background-color: #000000;
}
.search-outline {
  font-size: 15px;
  background-color: transparent;
  border: none;
}

/*Navigation*/
.menu-list {
  display: flex;
  background: #000000;
  text-align: center;
  justify-content: center;

}
.menu-list li a{
  text-decoration: none;
  color:#fff;
}

.menu-list > li {
  padding: 0 4%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.x_attribute_item {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  min-width: 54px;
  display: inline-block;
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.x_attribute_item:hover {
  color: #fff;
  background: #000;
  border: 1px solid #ccc;
  font-weight: bold;
}

.input-text {
  
  width: 200px;
  text-align: center;
}

.product-detail {
  display: flex;
  margin: 2rem;
}

.detail-image h2{
  margin: 10px 0;
  font-size: 35px;
}

.detail-image span {
  line-height: 30px;
  padding: 0;
}
.detail-image h4 {
  margin: 7px 0;
  font-size: 30px;
}

.button {
  display: inline-block;
  padding: 9px 50px;
  background: #252525;
  border: 0.5px solid #252525;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18/14);
  color: #F7F7F7 !important;
  margin: 20px 0;
}

/*footer*/

footer {
  height: auto;
  width: 100vw;
  padding-top: 200px;
}

 .footer-item {
  padding: .6rem 2rem;
  background: black;
  display: flex;
}

.detail-image {
  margin-top: 3rem;
}

.footer-item .img-footer {
  align-items: center;
  display: flex;
}

.footer-item .img-footer img {
  width: 100%;
}

.footer-item .social-footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.footer-item .social-footer li a {
  color: #000000;
  font-size: 2rem;
}

.logo {
  weight: 55px;
  height: 55px;
  margin-top: 10px;
  margin-left: 10px;
}

.footer-content {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;  
}

